<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Настройка уведомлений</title>
</head>
<body>
<table>
    <tr>
        <td>Сайт</td>
        <td>Раздел</td>
        <td>Поиск</td>
        <td>Макс. цена</td>
        <td>удалить / добавить</td>
    </tr>
    <form action="delete">
    {{range $ind,$_:=.}}
        <tr>
            <td>{{.Site}}</td>
            <td>{{getName .Site .Part}}</td>
            <td>{{.Text}}</td><td>{{.MaxPrice}}</td>
            <td>
                <button name="del" value="{{$ind}}">X</button>
            </td>
        </tr>
    {{end}}
    </form>
{{range $site,$arr:=parts}}
    <form action="add">
        <tr>
            <td>{{$site}}</td>
            <td>
                <label>
                    <select name="part" >
                    {{range $href,$name:=names $site}}
                        <option value="{{$href}}">{{$name}}</option>
                    {{end}}
                    </select>
                </label>
            </td>
            <td>
                <label>
                    <input name="search"/>
                </label>
            </td>
            <td>
                <label>
                    <input name="maxprice"/>
                </label>
            </td>
            <td>
                <button name="add" value="{{$site}}">+</button>
            </td>
        </tr>
    </form>
{{end}}
</table>
</body>
</html>